<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>BaslikFilter</filter-name>
  	<display-name>BaslikFilter</display-name>
  	<description></description>
  	<filter-class>mc.acisozluk.filter.BaslikFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>BaslikFilter</filter-name>
  	<url-pattern>/BaslikFilter</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>mc.acisozluk.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ErrorServlet</servlet-name>
  	<display-name>ErrorServlet</display-name>
  	<description></description>
  	<servlet-class>mc.acisozluk.servlet.ErrorServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>mc.acisozluk.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>mc.acisozluk.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EntryServlet</servlet-name>
  	<display-name>EntryServlet</display-name>
  	<description></description>
  	<servlet-class>com.google.eminarikan.acisozluk.servlet.EntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ErrorServlet</servlet-name>
  	<url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EntryServlet</servlet-name>
  	<url-pattern>/EntryServlet</url-pattern>
  </servlet-mapping>

</web-app>
